* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  background-color: #161a30;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  padding: 18px;
  position: relative;
  background-color: #31304d;
}
/*
#B6BBC4
#B6BBC4

*/
.source-code {
  position: absolute;
  top: -60px;
  left: 30%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #af7d4c;
  color: #161a30;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.source-code:hover {
  background-color: #113613;
}

.header {
  display: flex;
  gap: 20px;
}
.password-input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
.copy-button {
  background-color: #138496;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 16px;
}

.copy-button:hover {
  background-color: #052b31;
}

.range-input {
  margin-right: 20px;
}

.checkbox-input {
  margin-left: 10px;
  margin-right: 5px;
}
